body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: url('./img/fondo.jpeg') center/cover fixed no-repeat;
}

header {
    background-color: #1c2331;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.logo-container img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

#shop {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #34495e;
    border-radius: 10px;
    color: #d9534f;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-out; /* Agregada transición para la escala */
}

.item:hover {
    transform: scale(1.1); /* Hace que la imagen se agrande al pasar el ratón */
}

.item img {
    width: 200px;
    height: auto;
    transition: transform 0.3s ease-out; /* Agregada transición para la escala */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#cart {
    background-color: #ffffff; /* Nuevo fondo azul oscuro para el carrito */
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px; /* Nuevos bordes redondeados */
    color: #34495e; /* Nuevo color de texto rojo */
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    margin: 10px 0;
}

#total {
    font-weight: bold;
}

nav {
    background-color: #1c2331;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #d9534f;
}

.description-container {
    background-color: #1c2331; /* Fondo azul oscuro */
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px; /* Bordes redondeados */
}

.shop-section {
    background-color: #1c2331; /* Fondo blanco */
    color: #ffffff; /* Texto azul oscuro */
    padding: 20px;
    margin: 10px;
    border-radius: 10px; /* Bordes redondeados */
}
.shop-section img {
    max-width: 50%; /* Establece un ancho máximo del 100% del contenedor */
    height: auto;    /* Deja que la altura se ajuste automáticamente */
}

.enlarged-image {
    width: 100vw; /* Ocupar todo el ancho de la ventana */
    height: 100vh; /* Ocupar toda la altura de la ventana */
    object-fit: contain; /* Ajustar la imagen manteniendo la proporción */
    display: block;
    margin: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo negro semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 150px;
    color: white;
    cursor: pointer;
}

.styled-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d9534f; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-decoration: none;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
    margin-right: 10px; /* Espaciado entre los botones (puedes ajustar según sea necesario) */
}

/* Cambia el color de fondo cuando se pasa el ratón sobre los botones */
.styled-button:hover {
    background-color: #a8110c;
}