body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: url('./img/fondo.jpeg') center/cover fixed no-repeat;
}

header {
    background-color: #1c2331;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.logo-container img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

#shop {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #34495e;
    border-radius: 10px;
    color: #d9534f;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-out; /* Agregada transici贸n para la escala */
}

.item:hover {
    transform: scale(1.1); /* Hace que la imagen se agrande al pasar el rat贸n */
}

.item img {
    width: 200px;
    height: auto;
    transition: transform 0.3s ease-out; /* Agregada transici贸n para la escala */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#cart {
    background-color: #ffffff; /* Nuevo fondo azul oscuro para el carrito */
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px; /* Nuevos bordes redondeados */
    color: #34495e; /* Nuevo color de texto rojo */
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    margin: 10px 0;
}

#total {
    font-weight: bold;
}

nav {
    background-color: #1c2331;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #d9534f;
}

.description-container {
    border: 2px solid #d9534f;
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 8px;
}

.description {
    max-width: 600px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.enlarged-image {
    width: 100vw; /* Ocupar todo el ancho de la ventana */
    height: 100vh; /* Ocupar toda la altura de la ventana */
    object-fit: contain; /* Ajustar la imagen manteniendo la proporci贸n */
    display: block;
    margin: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo negro semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 150px;
    color: white;
    cursor: pointer;
}