body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: url('./img/fondo.jpeg') center/cover fixed no-repeat;
}

header {
    background-color: #1c2331;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 100;
}

@keyframes rotateAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.logo-container img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    animation: rotateAnimation 1.5s ease; /* Animación que dura 1.5 segundos y se ejecuta solo una vez */
}

#shop {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #34495e;
    border-radius: 10px;
    color: #d9534f;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-out; /* Agregada transición para la escala */
}

.item:hover {
    transform: scale(1.1); /* Hace que la imagen se agrande al pasar el ratón */
}

.item img {
    width: 200px;
    height: auto;
    transition: transform 0.3s ease-out; /* Agregada transición para la escala */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#cart {
    background-color: #ffffff; /* Nuevo fondo azul oscuro para el carrito */
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 15px; /* Nuevos bordes redondeados */
    color: #34495e; /* Nuevo color de texto rojo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    margin: 10px 0;
}

#total {
    font-weight: bold;
}

nav {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    float: left;
    margin-right: 15px;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #d9534f;
}

.description-container {
    background-color: #1c2331; /* Fondo azul oscuro */
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px; /* Bordes redondeados */
}

.shop-section {
    background-color: #1c2331;
    color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 15px; /* Bordes redondeados aumentados para un aspecto más moderno */
}

.shop-section img {
    max-width: 50%; /* Establece un ancho máximo del 100% del contenedor */
    height: auto; 
    border-radius: 10px;
}

.enlarged-image {
    width: 100vw; /* Ocupar todo el ancho de la ventana */
    height: 100vh; /* Ocupar toda la altura de la ventana */
    object-fit: contain; /* Ajustar la imagen manteniendo la proporción */
    display: block;
    margin: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5em; /* Cambiado a em para un tamaño más relativo */
    color: white;
    cursor: pointer;
}

.styled-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d9534f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

/* Cambia el color de fondo cuando se pasa el ratón sobre los botones */
.styled-button:hover {
    background-color: #a8110c;
}

.purchase-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.copyright-container-rounded {
    background-color: #d9534f; /* Color de fondo del contenedor */
    padding: 15px; /* Espaciado interno del contenedor */
    border-radius: 10px; /* Radio de borde para hacerlo redondeado */
    margin-top: 20px; /* Espaciado superior para separarlo del contenido anterior */
}