body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('./img/fondo.jpeg') center/cover fixed no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #1c2331;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

nav {
    background-color: #1c2331;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #d9534f;
}

.logo-container img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.cta-container {
    margin: 20px 0;
}

.description-container {
    border: 2px solid #d9534f;
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 8px;
}

.description {
    max-width: 600px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.cta-button {
    display: inline-block;
    padding: 30px 60px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #d9534f;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #c9302c;
}

.gallery-container {
    position: relative;
    overflow: hidden;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
}

.prev {
    left: 10px;
    border: 2px solid #d9534f;
    border-radius: 5px;
    background-color: #d9534f;
    color: white;
    padding: 5px 10px;
}

.next {
    right: 10px;
    border: 2px solid #d9534f;
    border-radius: 5px;
    background-color: #d9534f;
    color: white;
    padding: 5px 10px;
}

.disclaimer {
    max-width: 600px;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

.testimonios-container {
    background-color: #1c2331;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    top: 10px;
}

.testimonios-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonio {
    background-color: #d9534f;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}

.testimonio h3 {
    margin-bottom: 10px;
}

.testimonio p {
    font-size: 14px;
}

.testimonios-navigation {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
}

.testimonios-navigation button {
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #1c2331;
    color: #d9534f;
}

.destinos-container {
    background-color: #1c2331;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
}

.destino {
    margin-bottom: 20px;
}

.destino h3 {
    color: #d9534f;
}

.destino p {
    color: #ddd;
}

.faq-container {
    background-color: #1c2331;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
}

.question {
    margin-bottom: 20px;
}

.question h3 {
    color: #d9534f;
}

.question p {
    color: #ddd;
}

.about-container {
    background-color: #1c2331;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
}

.about-container img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.game-container {
    background-color: #1c2331;
    border-radius: 15px;
    color: #fff;
    margin: 20px;
    padding: 20px;
    text-align: center;
    position: relative;
}

#adivinanza {
    margin-bottom: 20px; /* Añadir margen inferior para separar el texto del input */
}


.verificar-container {
    margin-top: 10px;
    background-color: #d9534f;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.verificar-container button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #d9534f;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.verificar-container button:hover {
    background-color: #c9302c;
}

#toro-rojo {
    cursor: pointer;
}

.waldo {
    background-color: #1c2331;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}

.mensaje-container {
    background-color: #d9534f;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}
